<div class="container-fluid cj-signin-container">
    <div class="text-container">
        <div class="row">
            <div class="col">
                <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione totam, itaque esse doloribus amet ad alias veniam eius autem deserunt officia sit fugit voluptatibus! Voluptatum expedita sed earum totam itaque?</p>
            </div>
        </div>
    </div>
    <div class="signin-block shadow-sm">
        <div class="row">
            <div class="col">
                <h2 class="mb-5">CloudJay</h2>
            </div>
        </div>
        <div class="row w-100">
            <div class="col text-center">
                <span class="grey-text">Login in with</span>
            </div>
        </div>
        <div class="row w-100">
            <div class="col">
                <a class="login-tiles google shadow-sm"><i class="bi bi-google"></i><span>Login with Google</span></a>
            </div>
        </div>
        <div class="row w-100">
            <div class="col">
                <a class="login-tiles facebook shadow-sm"><i class="bi bi-facebook"></i><span>Login with Google</span></a>
            </div>
        </div>
        <div class="row w-100">
            <div class="col">
                <a class="login-tiles twitter shadow-sm"><i class="bi bi-twitter"></i><span>Login with Google</span></a>
            </div>
        </div>
    </div>
    <div class="bg-panel"></div>
</div>