<div class="container-fluid app-lhn-container">
    <section>
        <div class="lhn-content">
            <p>Menu Items</p>
            <ul class="menu-list">
                <li>Cloud Transfer</li>
                <li class="selected">Cloud Sync</li>
            </ul>
            <ul class="menu-list fixed-meu-item">
                <li class="disabled-row">
                    <p></p>
                </li>
                <li>Accounts</li>
            </ul>
        </div>
    </section>

</div>