ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table {
    font-size: 0.75rem;
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    .cell {
        border-color: #e7e9ed;
        color: #5d6778;
        vertical-align: middle;
    }
    &>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    &> :not(:first-child) {
        border-top: 1px solid currentColor;
    }
    tbody {
        tr {
            &:last-child {
                td {
                    // border-bottom: none;
                }
            }
        }
    }
}

.app-pagination {
    .pagination {
        font-size: 0.875rem;
        .page-link {
            color: #5d6778;
            padding: 0.25rem 0.5rem;
        }
        .page-item {
            &.disabled {
                .page-link {
                    color: #9fa7b5;
                }
            }
            &.active {
                .page-link {
                    background: #747f94;
                    color: #fff;
                    border-color: #747f94;
                }
            }
        }
    }
}