.app-cj-breadcrumbs {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e7e9ed;
    li {
        display: inline-block;
        a {
            position: relative;
            font-size: 0.875rem;
            color: var(--ColorSecondary);
            text-transform: uppercase;
            padding-right: 20px;
            margin-right: 10px;
            text-decoration: none;
            &:after {
                content: "";
                width: 9px;
                height: 8px;
                border-top: 2px solid #555;
                border-right: 2px solid #555;
                position: absolute;
                top: 6px;
                right: 0;
                transform: rotate(45deg);
                display: block;
            }
        }
        &:last-of-type a {
            color: black;
            font-weight: bold;
            &:after {
                display: none;
            }
        }
    }
}