<div class="container-fluid cj-project-details-container">
    <div class="row">
        <div class="col">
            <h2 class="page-title">Xyzabc123ert</h2>
            <div class="source-destination">
                <span>Google Cloud</span>
                <i class="bi bi-arrow-right mx-3"></i>
                <span>Dropbox</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-block-container">
                <div class="col-blocks">
                    <span class="label-text mb-2">Completion Status</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-blocks">
                    <span class="label-text mb-2">No of File(s) / Total</span>
                    <span class="label-value">1450 / 3000</span>
                </div>
                <div class="col-blocks">
                    <span class="label-text mb-2">Trasnfer Status</span>
                    <span class="badge bg-warning">In Progress</span>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-3">
            <input type="text" class="form-control" id="sesrchProjects" placeholder="Search for Files">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div _ngcontent-lcg-c18="" class="white-panel my-4">
                <div _ngcontent-lcg-c18="" class="table-responsive">
                    <table _ngcontent-lcg-c18="" class="table app-table-hover mb-0 text-left">
                        <thead _ngcontent-lcg-c18="">
                            <tr _ngcontent-lcg-c18="">
                                <th _ngcontent-lcg-c18="" class="cell">Sno.</th>
                                <th _ngcontent-lcg-c18="" class="cell">File Name</th>
                                <th _ngcontent-lcg-c18="" class="cell">Path</th>
                                <th _ngcontent-lcg-c18="" class="cell">% Completion(size)</th>
                                <th _ngcontent-lcg-c18="" class="cell">Status</th>
                                <th _ngcontent-lcg-c18="" class="cell">Total files</th>
                                <th _ngcontent-lcg-c18="" class="cell">Inprogress files </th>
                                <th _ngcontent-lcg-c18="" class="cell">Errors</th>
                            </tr>
                        </thead>
                        <tbody _ngcontent-lcg-c18="">
                            <tr _ngcontent-lcg-c18="">
                                <td _ngcontent-lcg-c18="" class="cell">#1</td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="truncate">File 1 ABCVVV.png</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">folder/sub-folder</td>

                                <td _ngcontent-lcg-c18="" class="cell">
                                    <div _ngcontent-lcg-c18="" class="progress">
                                        <div _ngcontent-lcg-c18="" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%;"></div>
                                    </div>
                                </td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="badge bg-success">Completed</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">4500</td>
                                <td _ngcontent-lcg-c18="" class="cell">0</td>
                                <td _ngcontent-lcg-c18="" class="cell"></td>
                            </tr>
                            <tr _ngcontent-lcg-c18="">
                                <td _ngcontent-lcg-c18="" class="cell">#2</td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="truncate">File 2 XYZABC.pdf</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">folder196/sub_folder2/abc</td>

                                <td _ngcontent-lcg-c18="" class="cell">
                                    <div _ngcontent-lcg-c18="" class="progress">
                                        <div _ngcontent-lcg-c18="" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%;"></div>
                                    </div>
                                </td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="badge bg-warning">In Progress</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">9000</td>
                                <td _ngcontent-lcg-c18="" class="cell">2456</td>
                                <td _ngcontent-lcg-c18="" class="cell"></td>
                            </tr>
                            <tr _ngcontent-lcg-c18="">
                                <td _ngcontent-lcg-c18="" class="cell">#3</td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="truncate">Google Drive to Dropbox</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">xyz</td>

                                <td _ngcontent-lcg-c18="" class="cell">
                                    <div _ngcontent-lcg-c18="" class="progress">
                                        <div _ngcontent-lcg-c18="" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%;"></div>
                                    </div>
                                </td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="badge bg-danger">Stopped</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">4500</td>
                                <td _ngcontent-lcg-c18="" class="cell">2456</td>
                                <td _ngcontent-lcg-c18="" class="cell"></td>
                            </tr>
                            <tr _ngcontent-lcg-c18="">
                                <td _ngcontent-lcg-c18="" class="cell">#4</td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="truncate">Google Drive to Dropbox</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">Google Drive</td>

                                <td _ngcontent-lcg-c18="" class="cell">
                                    <div _ngcontent-lcg-c18="" class="progress">
                                        <div _ngcontent-lcg-c18="" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 65%;"></div>
                                    </div>
                                </td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="badge bg-success">Completed</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">4500</td>
                                <td _ngcontent-lcg-c18="" class="cell">2456</td>
                                <td _ngcontent-lcg-c18="" class="cell"></td>
                            </tr>
                            <tr _ngcontent-lcg-c18="">
                                <td _ngcontent-lcg-c18="" class="cell">#5</td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="truncate">Google Drive to Dropbox</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">Google Drive</td>

                                <td _ngcontent-lcg-c18="" class="cell">
                                    <div _ngcontent-lcg-c18="" class="progress">
                                        <div _ngcontent-lcg-c18="" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 35%;"></div>
                                    </div>
                                </td>
                                <td _ngcontent-lcg-c18="" class="cell"><span _ngcontent-lcg-c18="" class="badge bg-success">Completed</span></td>
                                <td _ngcontent-lcg-c18="" class="cell">4500</td>
                                <td _ngcontent-lcg-c18="" class="cell">2456</td>
                                <td _ngcontent-lcg-c18="" class="cell">Error in Copying</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div _ngcontent-lcg-c18="" class="table-pagination">
                    <nav _ngcontent-lcg-c18="" class="app-pagination">
                        <ul _ngcontent-lcg-c18="" class="pagination justify-content-center">
                            <li _ngcontent-lcg-c18="" class="page-item disabled"><a _ngcontent-lcg-c18="" href="#" tabindex="-1" aria-disabled="true" class="page-link">Previous</a></li>
                            <li _ngcontent-lcg-c18="" class="page-item active"><a _ngcontent-lcg-c18="" href="#" class="page-link">1</a></li>
                            <li _ngcontent-lcg-c18="" class="page-item"><a _ngcontent-lcg-c18="" href="#" class="page-link">2</a></li>
                            <li _ngcontent-lcg-c18="" class="page-item"><a _ngcontent-lcg-c18="" href="#" class="page-link">3</a></li>
                            <li _ngcontent-lcg-c18="" class="page-item"><a _ngcontent-lcg-c18="" href="#" class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>