<div class="container-fluid cj-home-container">
    <div class="row">
        <div class="col button-panel">
            <button class="btn btn-link"><i class="bi bi-eye"></i>&nbsp;&nbsp;View 
            Projects</button>
            <button class="btn btn-primary"><i class="bi bi-cloud-plus"></i>&nbsp;&nbsp;Create New Project</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="section-title">Highlight USP feature</h3>
        </div>
        <div class="col-12">
            <section class="carousels-container">
                <div id="scene">
                    <div id="left-zone">
                        <ul class="list">
                            <li class="item">
                                <input type="radio" id="radio1" name="basic_carousel" value="abc" checked="checked" />
                                <label class="label_strawberry" for="radio1">Security</label>
                                <div class="content"><span class="picto"></span>
                                    <h1>Security</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem similique harum quisquam ex ullam non dolorem, minus, ea exercitationem officia explicabo. Animi eaque nesciunt nisi deleniti nam deserunt quo saepe!</p>
                                </div>
                            </li>
                            <li class="item">
                                <input type="radio" id="radio2" name="basic_carousel" value="xyz" />
                                <label class="label_banana" for="radio2">Privacy</label>
                                <div class="content"><span class="picto"></span>
                                    <h1>Privacy</h1>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere quam soluta dolor exercitationem cupiditate sunt provident, ad eius enim? Eos illum ipsam aspernatur porro amet sed sit nemo repellendus velit!</p>
                                </div>
                            </li>
                            <li class="item">
                                <input type="radio" id="radio3" name="basic_carousel" value="123" />
                                <label class="label_apple" for="radio3">Cost Effectiveness</label>
                                <div class="content"><span class="picto"></span>
                                    <h1>Cost Effectiveness</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos harum quaerat. Placeat magnam alias labore quisquam fuga quidem, temporibus, ullam architecto consequuntur non saepe enim ipsa quis eius illum!
                                    </p>
                                </div>
                            </li>
                            <li class="item">
                                <input type="radio" id="radio4" name="basic_carousel" value="234345" />
                                <label class="label_orange" for="radio4">Resilient</label>
                                <div class="content"><span class="picto"></span>
                                    <h1>Resilient</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et, aut repellat nostrum quos sit libero optio iusto pariatur unde delectus sint provident nobis placeat? Quam nobis quibusdam eligendi praesentium.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="middle-border"></div>
                    <div id="right-zone"></div>
                </div>
            </section>
        </div>
    </div>
</div>